<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762054249819-h054kobllpusd9gqf79f7e0uc8ja65ck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762054249819-h054kobllpusd9gqf79f7e0uc8ja65ck</string>
	<key>API_KEY</key>
	<string>AIzaSyAaxIeAGkee9CnuuZcwD9tuVhLc5ozBx3U</string>
	<key>GCM_SENDER_ID</key>
	<string>762054249819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pandastracker.app</string>
	<key>PROJECT_ID</key>
	<string>pandastracker</string>
	<key>STORAGE_BUCKET</key>
	<string>pandastracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762054249819:ios:a9e4c14c29e505cdd21e7e</string>
</dict>
</plist>